#[IDE]
.vscode/

#[Architecture]
Apps/*/Binaries/Release/*
Apps/*/Binaries/Debug/*
Apps/*/Project/*
Apps/*/Externals/*
Engine/Externals/*
Python/*
__pycache__

#[Files]
CMakeUserPresets.json

#[Exceptions]
!README.md